.ngan-vi-mua-nha-web {
    background-color: #ffffff;
    border: 1px none;
    height: 900px;
    mix-blend-mode: normal;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1440px;
}

.ngan-vi-mua-nha-web .rectangle-211-7kUVgM {
    background-color: var(--resolution-blue);
    height: 900px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 100px;
}

.ngan-vi-mua-nha-web .ticket-7kUVgM {
    background-color: transparent;
    height: 32px;
    left: 34px;
    mix-blend-mode: normal;
    position: absolute;
    top: 370px;
    width: 32px;
}

.ngan-vi-mua-nha-web .nav-bar-7kUVgM {
    background-color: transparent;
    height: 308px;
    left: 25px;
    position: absolute;
    top: 20px;
    width: 50px;
}

.ngan-vi-mua-nha-web .vector-jK35b2 {
    background-color: transparent;
    height: 32px;
    left: 9px;
    mix-blend-mode: normal;
    position: absolute;
    top: 178px;
    width: 32px;
}

.ngan-vi-mua-nha-web .icon-cart-jK35b2 {
    background-color: transparent;
    height: 32px;
    left: 9px;
    mix-blend-mode: normal;
    position: absolute;
    top: 92px;
    width: 32px;
}

.ngan-vi-mua-nha-web .icon-home-jK35b2 {
    background-color: transparent;
    height: 38px;
    left: 6px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 38px;
}

.ngan-vi-mua-nha-web .wallet-jK35b2 {
    height: 50px;
    left: 0px;
    top: 258px;
    width: 50px;
}

.ngan-vi-mua-nha-web .rectangle-212-MRfYAG {
    background-color: #4e8bd7;
    border-radius: 12px;
    height: 50px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 50px;
}

.ngan-vi-mua-nha-web .wallet-MRfYAG {
    height: 38px;
    left: 6px;
    mix-blend-mode: normal;
    top: 6px;
    width: 38px;
}

.ngan-vi-mua-nha-web .bottom-7kUVgM {
    background-color: transparent;
    height: 93px;
    left: 31px;
    position: absolute;
    top: 784px;
    width: 38px;
}

.ngan-vi-mua-nha-web .headset-ICB5xZ {
    background-color: transparent;
    height: 38px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 38px;
}

.ngan-vi-mua-nha-web .logout-ICB5xZ {
    background-color: transparent;
    height: 38px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 55px;
    width: 38px;
}

.ngan-vi-mua-nha-web .info-column-7kUVgM {
    background-color: transparent;
    border: 0px none;
    box-shadow: 0px 4px 4px #00000040;
    height: 900px;
    left: 100px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 473px;
}

.ngan-vi-mua-nha-web .hot-ng-7N9f4q {
    background-color: transparent;
    height: 403px;
    left: 15px;
    position: absolute;
    top: 368px;
    width: 442px;
}

.ngan-vi-mua-nha-web .rectangle-214-7N9f4q {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 12px #00298766;
    height: 92px;
    left: 27px;
    mix-blend-mode: normal;
    position: absolute;
    top: 784px;
    width: 414px;
}

.ngan-vi-mua-nha-web .dch-v-khch-hng-247-7N9f4q {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxxs);
    font-style: normal;
    font-weight: 500;
    height: 22px;
    left: 126px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 797px;
    width: 221px;
}

.ngan-vi-mua-nha-web .title-7N9f4q {
    background-color: transparent;
    color: var(--resolution-blue);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
    height: 34px;
    left: 128px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 829px;
    width: 208px;
}

.ngan-vi-mua-nha-web .ringer-volume-7N9f4q {
    background-color: transparent;
    height: 81px;
    left: 42px;
    mix-blend-mode: normal;
    position: absolute;
    top: 789px;
    width: 81px;
}

.ngan-vi-mua-nha-web .group-14-7kUVgM {
    background-color: transparent;
    height: 322px;
    left: 127px;
    position: absolute;
    top: 25px;
    width: 1313px;
}

.ngan-vi-mua-nha-web .sv-pay-removebg-preview-3-yTtXzP {
    background-color: transparent;
    height: 73px;
    left: -4px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 0px;
    width: 407px;
}

.ngan-vi-mua-nha-web .group-15-yTtXzP {
    background-color: transparent;
    box-shadow: 0px 4px 4px #00000040;
    height: 243px;
    left: 0px;
    position: absolute;
    top: 79px;
    width: 422px;
}

.ngan-vi-mua-nha-web .individual-wqcgyH {
    background-color: transparent;
    height: 267px;
    left: -12px;
    position: absolute;
    top: -8px;
    width: 442px;
}

.ngan-vi-mua-nha-web .s-d-wqcgyH {
    height: 22px;
    left: 133px;
    top: 192px;
    width: 148px;
}

.ngan-vi-mua-nha-web .s-d-CJCxGB {
    color: #00000099;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxs);
    font-style: italic;
    font-weight: 400;
    height: 20px;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    text-align: left;
    text-shadow: 0px 4px 4px #00000040;
    top: 1px;
    width: 57px;
}

.ngan-vi-mua-nha-web .x-CJCxGB {
    background-color: transparent;
    color: #00000099;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxs);
    font-style: italic;
    font-weight: 400;
    height: auto;
    left: 55px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    top: 2px;
    width: 57px;
}

.ngan-vi-mua-nha-web .hide-CJCxGB {
    background-color: transparent;
    height: 28px;
    left: 120px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 28px;
}

.ngan-vi-mua-nha-web .xin-cho-wqcgyH {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
    height: 30px;
    left: 142px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    top: 116px;
    width: 135px;
}

.ngan-vi-mua-nha-web .nguyen-anh-khoa-wqcgyH {
    background-color: transparent;
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 700;
    height: 30px;
    left: 67px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    top: 148px;
    width: 284px;
}

.ngan-vi-mua-nha-web .group-13-yTtXzP {
    background-color: transparent;
    height: 267px;
    left: 447px;
    position: absolute;
    top: 71px;
    width: 866px;
}

.ngan-vi-mua-nha-web .group-16-yTtXzP {
    background-color: transparent;
    height: 39px;
    left: 1165px;
    position: absolute;
    top: 186px;
    width: 115px;
}

.ngan-vi-mua-nha-web .rectangle-18-GpmxDy {
    background-color: var(--resolution-blue);
    border-radius: 29.55px;
    height: 39px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 113px;
}

.ngan-vi-mua-nha-web .x355-GpmxDy {
    background-color: transparent;
    color: #18ae64;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 11px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 100px;
}

.ngan-vi-mua-nha-web .bin-ng-7kUVgM {
    background-color: transparent;
    height: 22px;
    left: 596px;
    position: absolute;
    top: 388px;
    width: 379px;
}

.ngan-vi-mua-nha-web .bin-ng-s-d-B9PJhh {
    background-color: transparent;
    color: #4c5866;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: 377px;
}

.ngan-vi-mua-nha-web .tiktok-transaction-7kUVgM {
    top: 431px;
}

.ngan-vi-mua-nha-web .tiktok-transaction-H0UkRZ {
    top: 577px;
}

.ngan-vi-mua-nha-web .tiktok-transaction-ZkZ5dS {
    top: 736px;
}

.ngan-vi-mua-nha-web .group-18-7kUVgM {
    background-color: transparent;
    height: 169px;
    left: 1189px;
    position: absolute;
    top: 440px;
    width: 205px;
}

.ngan-vi-mua-nha-web .group-19-7kUVgM {
    background-color: transparent;
    height: 169px;
    left: 1189px;
    position: absolute;
    top: 694px;
    width: 205px;
}

.ngan-vi-mua-nha-web .calendar-20-7kUVgM {
    background-color: transparent;
    height: 60px;
    left: 613px;
    mix-blend-mode: normal;
    position: absolute;
    top: 471px;
    width: 40px;
}

.ngan-vi-mua-nha-web .s-d {
    background-color: transparent;
    position: absolute;
}

.ngan-vi-mua-nha-web .tiktok-transaction {
    background-color: transparent;
    height: 142px;
    left: 589px;
    position: absolute;
    width: 565px;
}

.ngan-vi-mua-nha-web .wallet {
    background-color: transparent;
    position: absolute;
}